<% include partials/header %>
    <h2 style="margin-left: 2%;"><b> Anila</b></h2>
    <div class="container" style="padding-top:6%">
        <div class="row">
            <div class="col-lg-12">
                <div id="content" class="hidden">
                    <% if (locals.errors) { %>

                        <h4 style="font-family: Arial, Helvetica, sans-serif">
                            <%= errors %>
                        </h4>
                        <% } %>
                            <h1>Sign Up</h1>
                            <br>
                            <div class="form-group">
                                <form action="/register" method="POST" class="authform">
                                    <div id="split-form">
                                        <input type="text" class="form-control" placeholder="FIRST NAME" name="first" required>
                                        <input type="text" class="form-control" placeholder="LAST NAME" name="last" required>
                                    </div>
                                    <input type="text" class="form-control" name="phone" placeholder="PHONE NUMBER" maxlength="10" required>
                                    <input type="text" class="form-control" placeholder="USERNAME" name="username" required>
                                    <input type="email" class="form-control" placeholder="EMAIL" name="email" required>
                                    <div class="input-group">
                                        <input type="password" class="form-control" placeholder="PASSWORD" name="password" required>
                                        <span class="input-group-btn">
								<button class="btn btn-default">Submit</button>
							</span>
                                    </div>
                                    <br>
                                    <a href="/">Back to main page</a>

                                </form>
                            </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#content').fadeIn(800).removeClass('hidden');
        });
    </script>

    <% include partials/footer %>